static/mdb/* linguist-vendored
static/js/alertify/* linguist-vendored
static/css/alertify/* linguist-vendored
static/js/ms/* linguist-vendored
static/css/ms/* linguist-vendored
static/js/jquery.min.js linguist-vendored
static/js/chartjs/Chart.js linguist-vendored
static/js/websockets/reconnecting-websockets.min.js linguist-vendored
static/js/easy_rest/* linguist-vendored
