asgi-redis==1.4.3
asgiref==1.0.0
channels==1.1.8
daphne==1.4.2
Django==2.1.4
gunicorn==19.5.0
whitenoise
dj-database-url
psycopg2
djangorestframework
django-easy-rest
django-currentuser
textblob
django-online-users
nltk
python-social-auth
social-auth-app-django
