{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h2>Public Rooms:</h2>
            <ul class="rooms">
                {% for room in rooms %}
                    <li><a class="room-link" data-room-id="{{ room.id }}"
                           href="{% url "chat:single_room" pk=room.pk %}">
                        {{ room.title }}
                    </a></li>
                {% empty %}
                    <p class="empty">No chat rooms defined. Maybe make some in the
                        <a href="{% url 'admin:index' %}">admin</a>?
                    </p>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h2>Private Rooms:</h2>
            <ul>
                {% for room in private_rooms %}
                    <li><a href="{% url "chat:single_private_room" pk=room.pk %}">
                        {{ room.title }}
                    </a></li>
                {% endfor %}
            </ul>
            <p>Want to make you own rooms?
                <a href="{% url 'chat:create_private_room' %}">make some rooms</a>
            </p>

        </div>
    </div>

    <!-- single message -->
    <div class="chat">
        <div class="chat-history">
            <ul style="list-style: none">
                <li class="clearfix">
                    <div class="message-data align-right">
                        <span class="message-data-time">10:10 AM, Today</span> &nbsp; &nbsp;
                        <span class="message-data-name">Olia</span> <i class="fa fa-circle me"></i>

                    </div>
                    <div class="message other-message float-right">
                        Hi Vincent, how are you? How is the project coming along?
                    </div>
                </li>
                <li class="clearfix">
                    <div class="message-data align-left">
                        <span class="message-data-time">10:10 AM, Today</span> &nbsp; &nbsp;
                        <span class="message-data-name">Me</span> <i class="fa fa-circle me" style="color: #86BB71"></i>

                    </div>
                    <div class="message my-message float-left">
                        Hi Vincent, how are you? How is the project coming along?
                    </div>
                </li>
            </ul>
            </ul>
        </div>
    </div>

{% endblock content %}