{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h2 class="panther">Public Rooms:</h2>
                {% for room in rooms %}
                    <div class="wrapper">
                        <span class="square individual">
                            <a class="before after"
                               href="{% url "chat:single_room" pk=room.pk %}">{{ room.title }}
                            </a></span></div>
                {% empty %}
                    <p class="empty">No chat rooms defined. Maybe make some in the
                        <a href="{% url 'admin:index' %}">admin</a>?
                    </p>
                {% endfor %}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h2 class="panther">Private Rooms:</h2>
                {% for room in private_rooms %}
                        <div class="wrapper">
                            <span class="square individual">
                                <a class="before after"
                                   href="{% url "chat:single_private_room" pk=room.pk %}">{{ room.title }}
                        </a></span></div>
                {% endfor %}
            <p>Want to make you own rooms?
                <a href="{% url 'chat:create_private_room' %}">make some rooms</a>
            </p>
        </div>
    </div>

{% endblock content %}

{% block extra_head %}
    <link href="{% static "css/links.css" %}" type="text/css" media="screen" rel="stylesheet">
{% endblock extra_head %}