{% extends 'chat/single_room.html' %}

{% block private_room %}
    <div class="row">
        {% if owner_button %}
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="{% url 'chat:update_private_room' pk=object.pk %}"
                   class="btn btn-info" title="edit item" data-tooltip>Add users! &nbsp
                    <i class="fa fa-pencil"></i>
                </a>
            </div>
        {% endif %}
        {% if object.users %}
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h4>Room users:</h4>
                <ul>
                    {% for user in object.users.all %}
                        <li>{{ user }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>


{% endblock %}
