{% extends 'base.html' %}

{% block content %}
    <h1>Room create</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {% if field.name == "owner" %}
                {% elif field.name == "staff_only" %}
                    {% if user.is_superuser %}
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <span style="color: red">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <span style="color: red">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </p>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Create Room</button>
    </form>

    <script>
        $(function () {
            $('select').multipleSelect({
                placeholder: "select users",
                filter: true,
            });
            $('.ms-parent').css("width", "50%")
        })
    </script>

{% endblock content %}