{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% block private_room %}
    {% endblock private_room %}

    <h1>{{ object.title }}</h1>

    <div class="chat">
        <div class="chat-history">
            <ul style="list-style: none">
            </ul>
        </div>
    </div>

    <input type="text" id="message-input" class="form-control">
    <button id="send-btn" class="btn btn-outline-default waves-effect">Send</button>

{% endblock content %}

{% block extra_body %}
    <!-- Reconnecting Websockets -->
    <script type="text/javascript" src="{% static "js/websockets/reconnecting-websocket.min.js" %}"></script>
    <!-- My scripts -->
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
{% endblock extra_body %}