{% extends 'base.html' %}
{% load static %}
{% load easy_rest %}

{% block content %}

    <h1>statistics!</h1>

    <label for="rooms">Rooms:</label><br>
    <select id="rooms" multiple>
        {% for room in rooms %}
            <option value="{{ room.pk }}">{{ room.title }}</option>
        {% endfor %}
    </select>

    <div class="row">
        <div id="word-count" class="col-md-6 col-lg-6">
            <canvas id="wordCount" width="500" height="500"></canvas>
        </div>
        <div id="message-count" class="col-md-6 col-lg-6">
            <canvas id="messageCount" width="500" height="500"></canvas>
        </div>
    </div>

{% endblock content %}

{% block extra_body %}

    <!-- Chart js -->
    <script type="text/javascript" src="{% static "js/chartjs/Chart.js" %}"></script>
    <!-- my script -->
    <script type="text/javascript" src="{% static "js/chart_update.js" %}"></script>
    <!-- Random color -->
    <script type="text/javascript" src="{% static 'js/randomColor.js' %}"></script>

{% endblock extra_body %}