<ul class="navbar-nav ml-auto">
    {% if user.is_authenticated %}
        <li class="nav-item">
            <span style="display: none" id="username">{{ user }}</span>
            <span class="navbar-brand">Hello, <span>{% if user.first_name and user.last_name %}
                {{ user.first_name }} {{ user.last_name }}{% else %}{{ user }}{% endif %}<span
                    style="font-size: .8em">{% if social_net %} (connected from {{ social_net }}){% endif %}</span>
            </span></span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
    {% else %}
        <li class="nav-item">
            <span class="navbar-brand">Hello, Guest</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Signup</a>
        </li>
    {% endif %}
</ul>